@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=PT+Serif');

root {
  background-color: #fef9f8;
}


@media screen and (max-width:450px) {
  img.banner { 
    width: 450px; 
    height: auto;
  }

  img.dogs-looking {
    width: 300px;
    height: auto;
  }

  img.dog-sign {
    width: 450px;
    height: auto;
  }

  .each-post {
    max-width: 90vmin;
    height: auto;
  }
  nav {
    font-size: 14px;
  }

  .add {
    max-width: 90vmin;
    height: auto;
  }

  .footer {
    position: absolute;
  }
}
