.landing-page {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    text-align: center;
}

.banner {
    display: grid;
    text-align: center;
    margin: auto;
}

.description {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}